*{
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color:#000F9F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: 
    #FFFFFF;
    width: 100%;
    width: 1440px;
    height: 40px;
}
.headercontainer{
    max-width: 100%;
}
.secondcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    width: 1440px;
    height: 42px;
    margin-top: 15px;
}
.main{
    max-width: 100%;
}
.second{
    width: 100%;
   
}
.razdel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
}
.razdel div{
        margin: 0 30px 0 15px;
    }
.person{
    display:flex;
   flex-direction: column; 
   flex-wrap: wrap;
}
.korzina{
    display:flex;
   flex-direction: column; 
   flex-wrap: wrap;
}
.znachki{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    flex-wrap: wrap;
}
.znachki div{
    flex-wrap: wrap;
    margin: 0 40px 0 15px; 
}
.photopart{
    position: relative;
    flex-wrap: wrap;
}
.photopart img{
    width: 100%;
    width: 1440px;
    height: 810px;
}
.photopart p{
position: absolute;
height: 160px;
left: 62%;
right: 21px;
top: 3px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 76px;
line-height: 85px;
letter-spacing: 3.2px;
color: #FFFFFF;
}
.photopart h3{
    position: absolute;
    height: 62px;
    left: 59.5%;
    right: 15px;
    top: 273px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
     }
.photopart h4{
    position: absolute;
    height: 75px;
    left: 59.5%;
    right: 15px;
    top: 296px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #FFFFFF; 
}
.photopart button{
    background-color: white;
    border: unset;
    position: absolute;
    width: 203px;
    height: 50px;
    left: 59.5%;
    right: 15px;
    top: 394px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 800px;
    font-size: 16px;
    line-height: 48px;
    border-radius: 23px;
    text-align: center;
    color: #202020;}
.secondline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 27px 15px 20px 15px;
}
.secondline button{
background-color: black;
width: 220px;
height: 45px;
margin-right: 35px;
border-radius: 19px;
font-family: Roboto;
font-weight: normal;
font-size: 16px;
line-height: 48px;
text-align: center;
color: #FFFFFF
}
.secondline span{
height: 115px;
left: 7.5%;
right: 68.33%;
font-family: Roboto;
font-size: 60px;
line-height: 114px;
letter-spacing: 3.4px;
color: #202020;
}
.block1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block1 :first-child{
    margin-right: 40px;
}
.block11 h4{
    margin-left: 9px;
    margin-top: 11px;
    height: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 50px;
    line-height: 30px;
    color: #202020;    
}
.block11 h5{
  margin-left: 9px;
    height: 19px;
    font-family: Roboto;
    font-style: thin;
    font-size: 16px;
    line-height: 19px;
    color: #737373;  
}
.block12 h4{
margin-left: 9px;
margin-top: 11px;
height: 30px;
font-family: Roboto;
font-size: 18px;
font-weight: 50px;
line-height: 30px;
color: #202020;
}
.block12 h5{
    margin-left: 9px;
height: 19px;
font-family: Roboto;
font-style: thin;
font-size: 16px;
line-height: 19px;
color: #737373;
}
.block2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
}
.textblock {
    margin-right: 40px;
    margin-left: -1px;
    margin-top: 180px;
    width: 590px;
}
.textblock h2{
    font-size: 63px;
}
.textblock span{
font-family: Roboto;
font-weight: 100px;
word-wrap: break-word;
font-size: 25px;
line-height: 31px;
letter-spacing: 0.3px;
color: #202020;
}
.textblock button{
    margin-top: 30px;
    background-color: black;
    width: 220px;
    height: 45px;
    margin-right: 35px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset;
}
.skala{
    margin-left: 3px;
}
.block3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;  
}
.pants {
    margin-left: -300px;
    margin-right: 35px;
}
.block31{
    margin-left: 90px;
    margin-right: -300px;
    margin-top: 180px;
    /*width: 390px;*/
}
.block31 h2{
    font-size: 63px;  
    font-weight: 600px;
}
.block31 button{
    margin-top: 40px;
    background-color: black;
    width: 240px;
    height: 45px;
    margin-right: 35px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset;
}
.block31 span{
    font-family: Roboto;
    font-weight: 100px;
    word-wrap: break-word;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #202020;  
}
.block4{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    flex-wrap: wrap;    
}
.block41{
    margin-right: 40px;
    margin-left: -1px;
    margin-top: 180px;
    width: 590px; 
}
.block41 h2{
    font-size: 63px; 
}
.block41 span{
    font-family: Roboto;
    font-weight: 100px;
    word-wrap: break-word;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #202020; 
}
.block41 button{
    margin-top: 40px;
    background-color: black;
    width: 270px;
    height: 49px;
    margin-right: 35px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset; 
}
.last{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}
.last img{
    width: 49.8%;
}
.p{
    margin-left: 2px;
height: 88px;
font-family: Roboto;
font: weight 600px;;
font-size: 50px;
line-height: 88px;
letter-spacing: 3.5px;
color: #202020;
}
.hashtag{
    font-size: 53px;
margin-top: 450px;
margin-left: 4px;
}
.ssylka{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 11px;
   font-size: 23px;
}
.ssylka :last-child{
    margin: 5px 0 0 20px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.title h2{
 margin-left: 20px;
font-family: Roboto;
font-weight: normal;
font-size: 61px;
line-height: 114px;
letter-spacing: 3.4px;
color: #202020;
}
.title button{
    /*margin-top: 30px;*/
    background-color: black;
    width: 270px;
    height: 49px;
    margin-right: 35px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset; 
}
.lastdiv{
    /*margin-left: 90px;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*flex-wrap: wrap;*/
}
.lastdiv :first-child{
   margin-left: 10px;
   margin-right: 40px;
}
.lastdiv :last-child{
    margin-left:35px ;
    margin-right:30px ;  
}
.lastdiv :nth-child(2){
    margin-right: -29px;
}
.lastdiv :nth-child(3){
    margin-left: -26px;
}
.hiking{
    display: flex;
   flex-direction: column;
}
.hiking p{
font-family: Roboto;
font-size: 16px;
margin-left: 33px;
line-height: 19px;
color: #737373;
}
.hiking h3{
    font-family: Roboto;
    font-size: 23px;
    line-height: 30px;
    color: #202020;
   margin: 0 0 0 300px;
}
.lastonediv p{
    font-family: Roboto;
    font-size: 16px;
    margin-left: 36px;
    line-height: 19px;
    color: #737373;   
}
.lastonediv h3{
    font-family: Roboto;
    font-size: 23px;
    line-height: 30px;
    color: #202020;
 /*margin-right: -230px;*/
}
.proba {
    display: flex;
    flex-direction: column;
   /* flex-wrap: wrap;*/
    margin-left: -170px;
    margin-right: 300px;
}
.lastonediv{
    margin-top: 50px;
}
@media screen and (max-width:375px) {
 .header{
     width: 100%;
     width: 375px;
     font-size: 14.5px;
 } 
 .second{
    width: 100%;
     width: 375px;
     font-size: 14.5px;  
 }  
 .razdel{
     margin-top: -19px;
 }
 .outdoor{
   margin-left: 120px;
   margin-top: 7.5px;
   margin-bottom: 4px;
 }
 .znachki{
     /*margin-left: 20px;*/
     display: flex;
     justify-content: space-between;
     margin-right: -110px;
 }
.znachki div{
    margin-left: 41px;
    
}
.photopart{
    max-width: 100%;
    width: 375px;
}
.photopart img{
   /* width: 375px;
    height: 290px;*/
    width: 100%;
    height: 100%;
}
.photopart p{
    font-size: 17px;
margin-left: 157px;
margin-right: 15px;
text-align: right;
margin-top: unset;
height:unset ;
position: absolute;
/*height: ;*/
line-height: 20px;
left: unset;
right:unset;
top: 48px;

}
.photopart h3{
    position: absolute;
    height: unset;
    left: 60%;
    right:unset;
    top: 93px;
    /*margin-top: 40px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3px;
   color: #FFFFFF;
}
.photopart h4{
    position: absolute;
    height: 75px;
    left: 61%;
    right: unset;
    top: 115px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3px;
    color: #FFFFFF;   
}
.photopart button{
    background-color: white;
    border: unset;
    position: absolute;
    width: 103px;
    height: 20px;
    left: 64%;
    right: 15px;
    top: 178px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 300px;
    font-size: 10px;
    line-height: 8px;
    border-radius: 23px;
    text-align: center;
    color: #202020;   
}
.secondline{
    display: flex;
    justify-content: space-between;
   align-items: center;
    flex-wrap: wrap;
    margin: 7px 2px 8px 8px;
}
.secondline button{
    background-color: black;
    width: 108px;
    height: 23px;
    border: none;
    margin-right: unset;
    border-radius: 19px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 10px;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF
    }
    .secondline span{
    height:unset;
    left:unset;
    right: unset;
    font-family: Roboto;
    font-size: 20px;
    line-height: 4px;
    letter-spacing: 0.4px;
    color: #202020;
    }
.block1{
        display: flex;
       justify-content: center;
        /*justify-content: center;*/
        flex-wrap: wrap;
    }
.block1 :first-child{
   margin-right: unset;
    }
.block11{
    width: 50%;
}
.block12{
    width: 50%;
}
.block11 img{
    width: 98%;
}
.block11 h4{
        margin-left: 6px;
        margin-top: 4px;
        height: 10px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 20px;
        line-height:unset;
        color: #202020;    
    }
    .block11 h5{
      margin-left: 6px;
        height:unset;
        font-family: Roboto;
        font-style: thin;
        font-size: 11px;
        line-height: unset;
        color: #737373;  
    }
.block12 img{
    width: 98%;
}
    .block12 h4{
        margin-left: 6px;
        margin-top: 4px;
        height: 10px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 20px;
        line-height:unset;
        color: #202020;  
    }
    .block12 h5{
        margin-left: 6px;
        height:unset;
        font-family: Roboto;
        font-style: thin;
        font-size: 11px;
        line-height: unset;
        color: #737373; 
    }
.block2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1px;
}
    
 .textblock {
        margin-right:0;
        margin-left: 0; 
        margin-top:0;
        width: 50%;
    }
.skala{
        width: 49%;
    }
    .textblock h2{
        font-size: 16px;
        margin-left: 17px;
        margin-top: 30px;
    }
    .textblock span{
    font-family: Roboto;
    font-weight: 10px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 9px;
    letter-spacing: 0.3px;
    color: #202020;
    margin-left: 5px;
    }
    .textblock button{
        margin-top:unset;
        margin-left: 10px;
        background-color: black;
        width: 120px;
        height: 15px;
        margin-right: unset;
        border-radius: 21px;
        font-family: Roboto;
        font-weight: normal;
        font-size: 10px;
        line-height: 8px;
        /*text-align: center;*/
        color: #FFFFFF  ;
        border: unset;
    }
   
.skala img{
    width:100% ;
}

.block3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;  
}
.pants {
    width: 48%;
    margin-left: unset;
    margin-right: unset;
}
.pants img{
width: 100%;
}
.block31{
    margin-left: 0;
    margin-right:0;
    margin-top: 0;
    width: 50%;
    /*width: 390px;*/
}
.block31 h2{
    font-size: 17px;  
    font-weight: 100px;
    margin-left: 20px;
    line-height: 17px;
    margin-top: 40px;
}
.block31 button{
    margin-top: 0px;
    background-color: black;
    width: 120px;
    height: 20px;
    margin-right: 0;
    margin-left: 29px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 13px;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset;
}
.block31 span{
    font-family: Roboto;
    font-weight: 100px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 9px;
    letter-spacing: 0.3px;
    margin-left: 3px;
    color: #202020;  
}
.headercontainer{
    max-width: 100%;
}
.secondcontainer{
    max-width: 100%;
}
.main{
    max-width: 100%;
}
.block4{
    display: flex;
    justify-content: center;
    margin-top: unset;
    flex-wrap: wrap;    
}
.block41{
    margin-right: unset;
    margin-left: 10px;
    margin-top: unset;
    width: unset; 
}
.block41 h2{
    margin-left: 90px;
    font-size: 27px; 
}
.block41 span{
    font-family: Roboto;
    font-weight: 100px;
    word-wrap: break-word;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: 0.3px;
    color: #202020; 
}
.block41 button{
    margin-top: 0;
    background-color: black;
    width: 170px;
    height: 31px;
    margin-right:unset;
    margin-left: 80px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset; 
}
.block4 img{
    margin-top: 10px;
    margin-bottom: 4px;
    max-width: 100%;
    width: 100%;
}
.last{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: unset;
}
.last img{
    width: 49.8%;
}
.p{
    margin-left: 2px;
height: 8px;
font-family: Roboto;
font-weight: 100px;
font-size: 24px;
line-height: 28px;
letter-spacing: 2.5px;
color: #202020;
}
.hashtag{
    font-size: 33px;
margin-top: 299px;
margin-left: 4px;
}
.ssylka{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 2px;
   font-size: 20px;
   margin-top: -20px;
}
.ssylka :last-child{
    margin: 4px 0 0 20px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* flex-wrap: wrap;*/
   margin-top: 20px;
}
.title h2{
 margin-left: 10px;
font-family: Roboto;
font-weight: normal;
font-size: 18px;
line-height: 10px;
letter-spacing: 1px;
color: #202020;
}
.title button{
    /*margin-top: 30px;*/
    background-color: black;
    width: 130px;
    height: 20px;
    margin-right: 10px;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF  ;
    border: unset; 
}
.lastdiv{
    width: 100%;
    /*margin-left: 90px;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*flex-wrap: wrap;*/
}
.lastdiv :first-child{
   margin-left: unset;
   margin-right: unset;
}
.lastdiv :last-child{
    margin-left:unset;
    margin-right:unset ;  
}
.lastdiv :nth-child(2){
    margin-right: unset;
}
.lastdiv :nth-child(3){
    margin-left: unset;
}
.hiking{
    width: 50%;
    display: flex;
   flex-direction: column;
}
.hiking img{
    width: 100%;
}
.lastonediv{
    width: 50%;
}
.lastonediv img{
    width: 100%;
}

.hiking p{
font-family: Roboto;
font-size: 16px;
margin-left: 33px;
line-height: 19px;
color: #737373;
}
.hiking h3{
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
    color: #202020;
   margin: 0 0 0 300px;
}
.lastonediv p{
    font-family: Roboto;
    font-size: 16px;
    margin-left: 36px;
    line-height: 19px;
    color: #737373;   
}
.lastonediv h3{
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
    color: #202020;
 /*margin-right: -230px;*/
}
.proba {
    display: flex;
    flex-direction: column;
   /* flex-wrap: wrap;*/
    margin-left:unset;
    margin-right: unset;
}
.lastonediv{
    margin-top: 40px;
}
}
@media screen and (min-width:2560px){
.header{
        background-color:#000F9F;
        display: flex;
        justify-content: center;
        align-items: center;
        color: 
        #FFFFFF;
        width: 100%;
        /*width: 1440px;*/
        height: 60px;
    }
    .headercontainer{
        max-width: 100%;
        font-size: 34px;
    }
    .secondcontainer{
        display: flex;
        justify-content:space-between;
        max-width: 100%;
        width: 2560px;
    }
    .main{
        max-width: 100%;
    }
    .second{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        width: 100%;
        /*width: 1440px;*/
        height: 72px;
        margin-top: 25px;
    }
    .razdel{
        width: 380px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 50px;
    }
    .outdoor{
        font-size: 35px;
    }
    .razdel div{
        font-size: 30px;
            margin: 0 25px 0 15px;
        }
    .person{
        display:flex;
       flex-direction: column; 
       flex-wrap: wrap;
    }
    .korzina{
        display:flex;
       flex-direction: column; 
       flex-wrap: wrap;
    }
    .znachki{
        display: flex;
        justify-content: space-between;
        margin-right: 90px;
        flex-wrap: wrap;
        width: 300px;
    }
    .znachki div{
        flex-wrap: wrap;
        size: 40px;
        margin: 0 40px 0 15px; 
    }
    .photopart{
        position: relative;
        flex-wrap: wrap;
    }
    .photopart img{
        width: 100%;
       /* width: 1440px;*/
        height: 100%;
    }
    .photopart p{
    position: absolute;
    height: 160px;
    left: 58%;
    right: 0;
    top: 150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 98px;
    line-height: 85px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    }  
    .photopart h3{
        position: absolute;
        height: 62px;
        left: 59.5%;
        right: 15px;
        top: 453px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 47px;
        line-height: 31px;
        letter-spacing: 0.3px;
        color: #FFFFFF;
         }
    .photopart h4{
        position: absolute;
        height: 75px;
        left: 59.5%;
        right: 15px;
        top: 496px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 47px;
        line-height: 31px;
        letter-spacing: 0.3px;
        color: #FFFFFF; 
    }
    .photopart button{
        width: 503px;
        height: 90px;
        left: 64%;
        right: 15px;
        top: 704px; 
        font-family: Roboto;
        font-style: normal;
        font-weight: 800px;
        font-size: 36px;
        line-height: 48px;
        border-radius: 42px;
        text-align: center;
        color: #202020;}
    .secondline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 37px 25px 20px 25px;
    }
    .secondline button{
    background-color: black;
    width: 450px;
    height: 80px;
    margin-right: 35px;
    border-radius: 42px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF
    }
    .secondline span{
    height: 115px;
    left: 7.5%;
    right: 68.33%;
    font-family: Roboto;
    font-size: 60px;
    line-height: 114px;
    letter-spacing: 3.4px;
    color: #202020;
    }
    .block1{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    /*.block1 :first-child{
        margin-right: unset;
        width: 50%;
    }*/
    .block11{
        width: 49%;
    }
    .block11 img{
        width: 100%;
    
    }
    .block12{
        width: 49%;
    }
    .block12 img{
        width: 100%;
    }
    .block11 h4{
        margin-left: 9px;
        margin-top: 17px;
        height: 40px;
        font-size: 38px;
        font-weight: 50px;
        line-height: 30px;   
    } 
    .block11 h5{
        height: 0;
        font-family: Roboto;
        font-style: thin;
        font-size: 26px;
        line-height: 0;
    } 
    .block12 h5{
        margin-left: 9px;
    height: 29px;
    font-family: Roboto;
    font-style: thin;
    font-size: 26px;
    line-height: 19px;
    color: #737373;
    }
    .block12 h4{
        margin-left: 9px;
        margin-top: 17px;
        height: 40px;
        font-size: 38px;
        font-weight: 50px;
        line-height: 30px;
    }
    .block2{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
        width: 100%;
    }

    .textblock {
        margin-right: unset;
        margin-left: unset;
        margin-top: 180px;
        width:49%;
    }
    .textblock h2{
        margin-top: 470px;
        margin-left: 200px;
        font-size: 103px;
    }
    .textblock span{
    font-weight: 100px;
    word-wrap: break-word;
    font-size: 65px;
    line-height: 71px;
    letter-spacing: 0.8px;
    color: #202020;
    }
    .textblock button{
        margin-top: 50px;
        width: 480px;
        height: 90px;
        margin-right: 35px;
        margin-left: 300px;
        border-radius: 47px;
        font-size: 36px;
        line-height: 48px;
    }
    .skala{
        width: 49%;
        margin-left: unset;
    }
    .skala img{
        width: 100%;
    }
    .block3{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 170px;  
        width: 100%;
    }
    .pants {
        width: 49%;
        margin-left:0;
        margin-right:unset;
    }
    .pants img{
        width: 100%;
    }
    .block31{
        width: 49%;
        margin-left: 0;
        margin-right:0;
        margin-top: 180px;
        /*width: 390px;*/
    }
    .block31 h2{
        font-size: 93px;  
        font-weight: 600px;
        margin-left: 150px;
    }
    .block31 button{
        margin-top: 90px;
        width: 540px;
        height: 95px;
        margin-left: 200px;
        border-radius: 41px;
        font-size: 36px;
        line-height: 48px;
    }
    .block31 span{
        font-family: Roboto;
        font-weight: 100px;
        word-wrap: break-word;
        font-size: 65px;
        line-height: 71px;
        letter-spacing: 0.8px;
        margin-left: 30px;
    } 
    .block4{
        display: flex;
        justify-content: center;
        margin-top: 90px; 
        width: 100%; 
    }
    .block41{
        margin-right: 0;
        margin-left: 0;
        margin-top: 180px;
        width: 49%; 
    }
    .sharf{
        width: 49%;
    }
    .sharf img{
        width: 100%;
    }
    .block41 h2{
        font-size: 93px; 
        margin-top: 300px;
        margin-left: 200px;
    }
    .block41 span{
        font-size: 65px;
        line-height: 71px;
        letter-spacing: 0.8px; 
        margin-right: 5px;
    }
    .block41 button{
        margin-top: 90px;
        width: 590px;
        height: 100px;
        margin-left: 200px;
        border-radius: 47px;
        font-size: 39px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF  ;
        border: unset; 
    }
    .last{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    .last img{
        width: 49.8%;
    }
    .p{
        margin-left: 20px;
    height: 98px;
    font-size: 87px;
    line-height: 128px;
    letter-spacing: 3.5px;
    }
    .hashtag{
        font-size: 93px;
    margin-top: 600px;
    margin-left: 4px;
    }
    .ssylka{
       margin-left: 11px;
       font-size: 43px;
    }
    .ssylka :last-child{
        margin: 5px 0 0 20px;
    }
    .title h2{
     margin-left: 20px;
    font-size: 131px;
    }
    .title button{
        width: 470px;
        height: 79px;
        margin-right: 35px;
        border-radius: 41px;
        font-size: 36px;
        line-height: 48px;
    }
    .lastdiv{
        display: flex;
        align-items: center;
    width: 100%;
    }
    .lastdiv :first-child{
       margin-left: 0;
       margin-right: 0;
    }
    .lastdiv :last-child{
        margin-left:0;
        margin-right:0 ;  
    }
    .lastdiv :nth-child(2){
        margin-right: 0;
    }
    .lastdiv :nth-child(3){
        margin-left: 0;
    }
    .hiking{
        width: 47%;
        display: flex;
       flex-direction: column;
    }
    .hiking img{
        width: 100%;
    }
    .lastonediv {
        width: 47%;

    }
    
    .hiking p{
    font-size: 36px;
    }
    .hiking h3{
        font-size: 43px;
    }
    .lastonediv p{
        font-size: 36px;  
    }
    .lastonediv h3{
        font-size: 43px;
    }
    .proba {
        margin-left:0;
        margin-right: 0;
    }
    .lastonediv{
        margin-top: 90px;
        margin-left: 0;
    }
 .lastimg{
     width: 100%;
 }

}